@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spacing: 0.25rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground bg-background;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  html {
    @apply h-full font-sans text-base text-gray-700;
  }
  body,
  #__next {
    @apply h-full;
  }

  label {
    @apply block text-sm;
  }

  p {
    @apply leading-normal;
  }

  a,
  button,
  input,
  select,
  textarea {
    @apply rounded outline-none;
  }
}
